.jumbotron-style {
	text-align: center;
}

.panel-style {
	text-align: center;
	max-width: 50%;
	margin-left: 50%;
	margin-right: 10%;
}

 .letters {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}